// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#welcome {
    text-align: center;
    font-family: system-ui ;
    color: rgb(50, 53, 205);
}

.welcome {
    margin: 50px 0 30px;
}    
    .show-container img{
        border-radius: 50%;
    }

    .show-container ul li {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        text-align: center;
        display: inline-block;
        
    }   
    
    .h4{
        text-align: center;
        padding-bottom: 0;
        padding-top: 20px;
        margin-bottom: 0;
        margin-top:30px
    }
// ********* adopted dogs *********

    #v-pills-home{   
        width: 180%;
    }

    #v-pills-home h4{
        text-align: center;
        padding-bottom: 50px;
    }

    .adopted-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .adopted-card {
        text-align: center; 
        padding: 10px 20px 10px 20px;
    }

    .adopted-card li{
       margin-left: -25px;
    }

    // ********* upcoming rentals *********

    #v-pills-profile{
        width: 125%;
        margin-left: 20px;
    }
    .upcoming-container {
        border: solid blueviolet;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .upcoming-card {
        width: 30%;
        padding-bottom: 20px;
    }


    .previous { 
        border: 1px solid rgb(10, 10, 10);
        height: 400px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .previous-container {
        display: flex;
        height: 300px;
        flex-flow: row wrap;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .previous-container h4 {
        text-align: center;
    }

    .previous-card {
        width: 30%;
        text-align: center;
        padding-bottom: 20px;
    }
    .previous-card .btn{
        margin-top: -10px;
    }

    .button_cancel{
        margin-left: 20px;
    }

 
  




