// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#welcome {
    text-align: center;
    font-family: system-ui ;
    color: rgb(50, 53, 205);
    margin-left: 60px;

}

.welcome {
    margin: 50px 0 30px;
}    
    .show-container img{
        border-radius: 50%;
    }

    .show-container ul li {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        text-align: center;
        display: inline-block;
        
    }   
    
    .h4{
        text-align: center;
        padding-bottom: 0;
        padding-top: 20px;
        margin-bottom: 0;
        margin-top:30px;
    }
// ********* adopted dogs *********

    #v-pills-home{   
        width: 180%;
    }

    #v-pills-home h4{
        text-align: center;
        padding-bottom: 50px;
    }

    .adopted-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .adopted-card {
        text-align: center; 
        padding: 10px 20px 10px 20px;
    }

    .adopted-card li{
       margin-left: -25px;
    }

    // ********* upcoming rentals *********

    #v-pills-profile{
        margin-left: 20px;
    }
    .upcoming-container {
        display: flex;
        flex-flow: row wrap;
        width: 900px;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 50px;
        padding-bottom: 50px;
    }

    .upcoming-card {
        width: 25%;
        padding-bottom: 20px;
        text-align: center; 
        padding: 10px 20px 10px 20px;
    }

    .upcoming-card li{
       margin-left: -25px;
    }

    .btn-outline-secondary.btn1{
        margin-left: 20px;
    }

    // ********* previous rentals *********
    .previous-container {
        display: flex;
        width: 900px;
        flex-flow: row wrap;
        padding-bottom: 50px;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 50px;
    }

    .previous-card{
        width: 25%;
        padding-bottom: 20px;
        text-align: center; 
        padding: 10px 20px 10px 0px;
    }

    .previous-card li{
        margin-left: -25px;
    }
 
  




